body {
  font-size: 16px;
  color: #000000;
  font-family: Helvetica;
  background-color: #ffffff;
}
#header-nav {
  background-color: #808080;
  border: 3px black solid;
}
h1 {
  font-size: 36px;
  font-weight: 800;
  color: #000000;
  margin: 0;
}
.navbar-header a:link {
  text-decoration: none;
}
h2 {
  margin: 15px;
  font-weight: 600;
}
h3 {
  font-size: 22px;
  font-weight: 500;
}
#nav-list a {
  font-size: 18px;
  color: black;
}
li {
  border-top: 2px black solid;
  background-color: white;
}
.navbar-nav {
  --bs-nav-link-padding-y: 0;
}
.content {
  background-color: #808080;
  border: 2px black solid;
  position: relative;
  padding: 10px;
}
p {
  margin: 0;
}
.main-header {
  position: sticky;
  top: 0;
  z-index: 10;
}
@media (min-width: 768px) {

}

@media (min-width: 576px) and (max-width: 767px) {
#sushi-cath {
  margin-top: 25px;
}
}

@media (max-width: 575px) {
#sushi-cath {
  margin-top: 25px;
}
#beef-cath {
  margin-top: 25px;
}
}
